/******* LANDING PAGE STYLES *******/

/* TOP */
body {
  font-family: Arial, Helvetica, sans-serif;
}
#service {
  height: 45vh;
  background-color: rgb(237, 246, 252);
}

#service img {
  width: 8vw;
  height: 10vh;
}

#contact {
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: x-small;
  border: none;
  border-radius: 45px;
  padding: 1vh 2.5vw;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 3vw;
  align-items: center;
}

#title {
  width: 35vw;
  height: 20vh;
  margin-left: 12vw;
  padding-top: 4vh;
}

#title h1 {
  line-height: 0.2;
}

h1 {
  font-size: 2.5vw;
}

#integrate {
  font-weight: 100;
}

p {
  font-size: 1.4vw;
  width: 30vw;
}

/* MIDDLE */
.main {
  max-width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row-reverse;
  margin: 2vh 4vw;
}

#two {
  padding-top: 8vw;
  padding-bottom: 6vw;
}

.tools {
  width: 100vw;
  padding: 4vw;
}

#ebq {
  width: 38vw;
  height: 36vh;
  margin-left: 4vw;
}

#emp {
  width: 26vw;
  height: 26vh;
}

/* FOOTER */
.footer {
  background-color: rgba(31, 31, 192, 0.827);
  color: white;
  margin-top: 8vh;
  padding: 4vh 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactUs {
  color: blue;
  background-color: gold;
  border: none;
  border-radius: 50px;
  font-size: x-small;
  padding: 1vh 2vw;
}

/* ********************* */
/*        MOBILE         */
/* ********************* */
@media only screen and (max-width: 600px) {
  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #service {
    width: 80vw;
    height: 55vh;
    padding: 1.5vh 6vw;
  }

  p {
    width: 64vw;
    font-size: 4vw;
    flex-wrap: wrap;
    text-align: center;
  }

  h1 {
    width: 55vw;
    font-size: 6vw;
    text-align: center;
  }

  #marketing {
    display: flex;
    flex-flow: column;
    white-space: normal;
  }

  #top img {
    width: 20vw;
    height: 14vh;
  }

  /****** MAIN *****/
  .main {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #ebq {
    width: 70vw;
  }

  #emp {
    width: 60vw;
  }

  /* FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10vh 1vw;
  }

  .footer h1 {
    width: 45vw;
  }

  #contactUs {
    color: blue;
    background-color: gold;
    border: none;
    border-radius: 50px;
    font-size: x-small;
    padding: 1vh 4vw;
    justify-content: center;
  }
}
